/* Index.module.css */

.flexColumnCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: 20px;
}

.buttonStyle {
	font-size: 20px;
	padding: 10px 20px;
	color: green;
	border-color: green;
	width: 70%;
	margin-top: 10%;
}

.fabStyle {
	position: fixed;
	right: 20px;
	border: 1px solid white;
}

/* Additional styles for specific positions of FABs */
.bottom100 {
	bottom: 100px;
}

.bottom170 {
	bottom: 170px;
}

.bottom240 {
	bottom: 240px;
}

.taskList {
  /* Styles for the task list container */
  width: 100%; /* Set to the desired width or full width */
  margin: 0 auto; /* Center the list in the page */
  padding: 0;
  list-style: none; /* Removes default list styling */
}

.taskItem {
  display: flex;
  justify-content: space-between; /* Aligns children at start and end */
  align-items: center; /* Vertically center children */
  padding: 10px;
  margin-bottom: 10px; /* Space between task items */
  background-color: #ffffff; /* White background for each item */
  color: #333333; /* Dark text for better readability */
  border-radius: 8px; /* Rounded corners for task items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.taskName {
  flex-grow: 1; /* Allows the name to take up available space */
  text-align: center; /* Centers the task name */
  margin: 0 20px; /* Add margin on both sides */
}

.completeButton {
  /* Styles for the "Complete" button */
  margin-left: auto; /* Pushes the button to the right */
  color: #ffffff; /* White text on the button */
  background-color: #4CAF50; /* A green background for visibility */
  /* Adjust the button styling as needed */
}

