/* Index.module.css */

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.buttonStyle {
  font-size: 20px;
  padding: 10px 20px;
  color: green;
  border-color: green;
  width: 70%;
  margin-top: 10%;
}

.fabStyle {
  position: fixed;
  right: 20px;
  border: 1px solid white;
}

.bottom100 {
  bottom: 100px;
}

.bottom170 {
  bottom: 170px;
}

.bottom240 {
  bottom: 240px;
}

.taskList {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333; /* Changed to a darker background */
  color: white; /* White text for better readability */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.taskName {
  flex-grow: 1;
  text-align: center;
  margin: 0 20px;
}

.completeButton {
  margin-left: auto;
  color: #ffffff;
  background-color: #4CAF50;
}

/* New class for white text */
.whiteText {
  color: white;
}

/* Additional styles if needed */
.darkBackground {
  background-color: #333; /* Dark background for contrast with white text */
}

/* Modify existing classes or add new ones as per your design requirements */
